body{
  /* overflow: hidden; */
}
@font-face {
  font-family: "Pragmatica_Italic";
  src: url('../fonts/Pragmatica_ital.otf')
}
@font-face {
  font-family: "Pragmatica_Regular";
  src: url('../fonts/Pragmatica_reg.otf')
}
@font-face {
  font-family: "Pragmatica_Bold";
  src: url('../fonts/Pragmatica_bold.otf')
}

body{
  font-family: "Pragmatica_Regular";
  cursor: url("https://raw.githubusercontent.com/Kovriki/impress_web/72169f1b78e3c16099e45fe2589410cb8d272245/images/cursor.svg"), auto;
  /* cursor: url("https://raw.githubusercontent.com/Kovriki/impress_web/4d730d3f0cbf6022ab0e7c9f73f33e282fecef63/images/cursor_p.svg"), pointer; */
     /* a { cursor: url('../images/cursor.cur'), pointer; } */

}
a, .mail button, .cover{
  cursor: url("https://raw.githubusercontent.com/Kovriki/impress_web/dc03f55b590552ce8b4e533f753be0febfd12843/images/cursor_p.svg"), pointer;
}
input {
  cursor: url("https://raw.githubusercontent.com/Kovriki/impress_web/56d6cbe7deccc9548570a9b98bf8fbb83a6945b3/images/cursor_t.svg"), text;

}


.svg {
  cursor: url("https://raw.githubusercontent.com/Kovriki/impress_web/72169f1b78e3c16099e45fe2589410cb8d272245/images/cursor.svg"), auto;
}
.png {
  cursor: url("https://github.com/Kovriki/impress_web/blob/main/images/cursor.png?raw=true"), auto;
}

.cursor{
  width: 16px;
  height: 16px;
  background-color: rgba(0,255,25,1);

}


/*
_
| |
_ __ ___   ___ _ __  _   _ ______| |__   __ _ _ __
| '_ ` _ \ / _ \ '_ \| | | |______| '_ \ / _` | '__|
| | | | | |  __/ | | | |_| |      | |_) | (_| | |
|_| |_| |_|\___|_| |_|\__,_|      |_.__/ \__,_|_|
*/

        nav, .menu-items, .menu-non-active{
          width: 100vw;
          height: 144px;
          display: grid;
          font-family: "Pragmatica_Italic";
          box-sizing: border-box;
          grid-template-rows: 2;
          grid-template-columns: repeat(8, 1fr);


        }
        nav a, .menu-items a{

          height: 72px;
          box-sizing: border-box;
          display: inline-grid;
          border-right: solid 1px black;
          border-bottom:solid 1px black;
          /* align-items:  center; */
          text-align: center;
          text-decoration: none;
          align-items: center;
          color: black;
          /* transition: all .4s ease; */

          background: rgb(255,255,255);

          /* transition: 1s all; */
          /* transition-duration: 1s; */

        }
        nav a:hover{
          /* transition-duration: 1s; */
          /* transition: 1s all; */

          /* transition: .2s; */
          /* background: rgb(0,255,25);
           */
          background: linear-gradient(180deg, rgba(0,255,25,1) 0%, rgba(255,255,255,0) 100%);
          /* transition: all .4s ease; */

        }
        .this_p {
          font-family: "Pragmatica_Bold";
        }
        #s1{
          height: 144px;
          grid-area: 1/1/3/3;
          padding: 4vw;
          background-image: url("../images/impress_logo.svg");
          background-repeat: no-repeat;
          background-position: center;
          transition: .2s all ease;

          /* background-size: contain; */
        }
        #s2{ grid-area:1/3/2/6; }
        #s3{ grid-area:1/6/2/9; }
        #s4{ grid-area:2/3/3/5; }
        #s5{ grid-area:2/5/3/7; }
        #s6{ grid-area:2/7/3/9; }

       #s1, #s4, #s5, #s6{
          /* width: 1fr; */
          width: 25vw;
       }
        /* #s4{ grid-area: 2/2/3/3} */
       }
       #s2,#s3{
         /* width: 1fr; */
         width: 37.5vw;
       }
       #s1:hover {
        background-image: url("../images/impress_logo_hover.png");
        transition: .5s all ease;

       }




/*     _
      (_)
_ __ ___   __ _ _ _ __
| '_ ` _ \ / _` | | '_ \
| | | | | | (_| | | | | |
|_| |_| |_|\__,_|_|_| |_|
*/




       main{
         width: 100vw;
         height: auto;

         font-size: 1em;
         box-sizing: border-box;
       }
       .index{
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: 1fr, 1fr;
       }
       .news{
         width: 25vw;
         height: 20em;
         border-right: solid 1px black;
         border-bottom:solid 1px black;
         box-sizing: border-box;
       position: relative;
       box-sizing: border-box;
       align-items: flex-end;

       }
       .wallpaper{
         width: 25vw;
         height: 40em;
         border-right: solid 1px black;
         border-bottom:solid 1px black;
         box-sizing: border-box;
         grid-area: 1/4/3/5;
       }
       .unity{
         width: 75vw;
         height: 20em;
         border-right: solid 1px black;
         border-bottom:solid 1px black;
         box-sizing: border-box;
         grid-area: 2/1/3/4;
       }

       h5{
         font-family: "Pragmatica_Bold";
         font-size: 2.8em;
         text-align: center;
         margin: 0.5em;
       }
       p{
           font-family: "Pragmatica_Regular";
           margin-bottom: 0.5em;
           text-align: center;
           vertical-align: bottom;
           display: inline-grid;
           align-items: flex-end;
           font-size: 1.2em;
           line-height: 1.5em;
           margin-right: 1em;
       }
       .text{
         align-items: flex-end;
       }
       main div {
         text-align: center;
       text-decoration: none;
       align-items: flex-end;
       color: black;
       /* padding: 1em; */
       }
       .event{
         box-sizing: border-box;
         /* outline: 1.5em solid #E0E2D0; */
       }

       .news .mini_link{
         position: absolute;
         margin-bottom:
         /* bottom: 0; */
       }
       .wallpaper{
         background-color: black;
         background-image: url("../images/katalog/03.png");
         background-position: center;
         background-repeat: no-repeat;
         background-size: 236%;
         position: relative;
       }
       .unity p {
         padding-left: 10em;
         padding-right:  10em;
       }
       .questions{
       width: 100vw;
       height: 2em;
       display: inline-grid;
       font-family: "Pragmatica_Bold";
       font-size: 2.8em;
       border-bottom:solid 1px black;
       grid-area: 3/1/4/9;
          color: black;
          -webkit-text-stroke: 1px black;
          -webkit-text-fill-color: white;
       }

       .mini_link{
         font-size: 1em;
         color: #C4C4C4;
         display: block;
         vertical-align: bottom;
         bottom: 2em;
         width: 100%;
       }
       .wallpaper .mini_link{
         display: block;
        position: absolute;
       }
/*
       __            _
      / _|          | |
     | |_ ___   ___ | |_ ___ _ __
     |  _/ _ \ / _ \| __/ _ \ '__|
     | || (_) | (_) | ||  __/ |
     |_| \___/ \___/ \__\___|_|
*/


       footer{
         width: 100vw;
         height: 25rem;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: 1fr, 1fr;
         box-sizing: border-box;
         align-items: flex-end;
       }
       footer .mail {
         width: 100vw;
         height: 10em;
         grid-area: 1/1/2/5;
       }
       footer .inf_blocks {
         width: 25vw;
         height: 10em;

       }

       input{
         width: 23em;
         height: 1.8em;
         font-size: 1.25em;
         font-family: "Pragmatica_Italic"
       }
       .inf_blocks {
         text-align: center;
         display: block;
       }
       .inf_blocks a {
         margin-bottom: 3em;
         color: black;
         text-decoration: none;
         font-family: "Pragmatica_Regular";
         margin-bottom: 0.5em;
        font-size: 1.2em;
        line-height: 1.5em;
       }
       .mail{
         align-content: flex-start;
       }
       .mail p {
         display: block;
         display: block;
         text-align: start;
         margin-left: 12.5vw;
       }
       .mail input{
         display: inline-block;
         text-align: start;
         margin-left: 12.5vw;
         vertical-align: middle;
             color: black;

       }
       .mail placeholder {
         font-family: "Pragmatica_Regular";
         color: #c4c4c4;
       }

       .mail button {
         cursor: pointer;
         display: inline-block;
         margin-left: 1em;
         vertical-align: middle;
         width: 5rem;
         height: 2.5rem;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         border: none;
         background-image: url("../images/arrow_btn.svg");
         background-color: white;
       }
